@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  font-family: "Inter", sans-serif;
}
.background-gradient {
  background: linear-gradient(135deg, #fbd6ea 0%, #ecdff9 50%, #dae8fb 100%);
}
.App {
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #0065fe;
}

.select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  max-width: 300px;
}
