@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* Override WDS font-family globally */
*,
*::before,
*::after {
  font-family: "Inter", sans-serif !important;
  direction: rtl !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
  background: linear-gradient(135deg, #fbd6ea 0%, #ecdff9 50%, #dae8fb 100%);
}
.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 4px 0px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

.select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 100%;
  max-width: 300px;
}

.modal {
  min-width: 150px;
}
