.search-filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  gap: 10px;
}

.search-filter-container .search {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-filter-container .filter {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-filter-container .filter-panel {
  position: absolute;
  top: 66px;
  right: 12px;
  z-index: 10;
}

.number-of-guests-shown {
  font-size: 14px;
  color: #4b5563;
  padding-top: 24px;
  padding-bottom: 24px;
}
