.topBar {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.topBarButton {
  margin: 20px;
}

.disabled {
  cursor: pointer;
  background-color: grey;
  color: white;
}
.disabled:hover {
  cursor: default;
  background-color: grey;
  color: white;
}
